@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Tektur&display=swap");
@media (min-width: 1025px) and (max-width: 1920px) {
  header {
    background: center center no-repeat url("./img/header-background.jpg");
    animation: bg-change 15s infinite;
    position: relative;
    height: 1000px;
  }
  @keyframes bg-change {
    33% {
      background-image: url("img/bg2.jpg");
    }
    66% {
      background-image: url("img/bg3.jpg");
    }
    100% {
      background-image: url("img/header-background.jpg");
    }
  }
  .link {
    padding-left: 40px;
  }
  .header-info {
    margin-right: 320px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .header-info__block {
    background-image: url("./img/yellow-background.png");
    width: 624px;
    height: 369px;
  }
  .header-info__block p {
    font-size: 52px;
    padding: 70px 70px 25px 70px;
  }
  .header-info__block button {
    margin-bottom: 70px;
    margin-left: 70px;
    font-size: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  header {
    background: center center no-repeat url("./img/media-img/bg.png");
    animation: bg-change 15s infinite;
    position: relative;
    height: 1000px;
  }
  @keyframes bg-change {
    33% {
      background-image: url("img/media-img/bg2.png");
    }
    66% {
      background-image: url("img/media-img/bg3.png");
    }
    100% {
      background-image: url("img/media-img/bg.png");
    }
  }
  .header {
    padding: 20px 36px;
  }
  .link {
    padding-left: 40px;
  }
  .header-info {
    margin-right: 36px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .header-info__block {
    background-image: url("./img/yellow-background.png");
    width: 624px;
    height: 369px;
  }
  .header-info__block p {
    padding: 70px 70px 25px 70px;
    font-size: 52px;
  }
  .header-info__block button {
    margin-bottom: 70px;
    margin-left: 70px;
    font-size: 24px;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  header {
    background: center center no-repeat url("./img/media-img/bg.png");
    animation: bg-change 15s infinite;
    position: relative;
    height: 900px;
  }
  @keyframes bg-change {
    33% {
      background-image: url("img/media-img/bg2.png");
    }
    66% {
      background-image: url("img/media-img/bg3.png");
    }
    100% {
      background-image: url("img/media-img/bg.png");
    }
  }
  .header {
    padding: 20px 12px;
    flex-direction: column;
  }
  .header-logo img {
    width: 200px;
    height: 50px;
    padding: 20px 60px;
  }
  .link a img {
    width: 25px;
    padding: 0px 15px;
  }
  .header-info {
    margin-left: 25%;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .header-info__block {
    background-image: url("./img/media-img/media-yellow.png");
    width: 320px;
    height: 207px;
  }
  .header-info__block p {
    padding: 30px 12px 25px 12px;
    font-size: 30px;
  }
  .header-info__block button {
    padding: 0 38px 30px 38px;
    margin-bottom: 30px;
    margin-left: 38px;
    font-size: 20px;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  header {
    background: center center no-repeat url("./img/media-img/bg.png");
    animation: bg-change 15s infinite;
    position: relative;
    height: 900px;
  }
  @keyframes bg-change {
    33% {
      background-image: url("img/media-img/bg2.png");
    }
    66% {
      background-image: url("img/media-img/bg3.png");
    }
    100% {
      background-image: url("img/media-img/bg.png");
    }
  }
  .header {
    padding: 20px 12px;
    flex-direction: column;
  }
  .header-logo img {
    width: 200px;
    height: 50px;
    padding: 20px 60px;
  }
  .link a img {
    width: 25px;
    padding: 0px 10px;
  }
  .header-info {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .header-info__block {
    background-image: url("./img/media-img/media-yellow.png");
    width: 320px;
    height: 207px;
  }
  .header-info__block p {
    padding: 30px 12px 25px 12px;
    font-size: 30px;
  }
  .header-info__block button {
    padding: 0 38px 30px 38px;
    margin-bottom: 30px;
    margin-left: 38px;
    font-size: 20px;
  }
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-list {
  display: flex;
}

.link {
  list-style: none;
}

.header-info {
  flex-wrap: wrap;
}

.header-info__block p {
  font-family: "Tektur", cursive;
}

.header-info__block button {
  padding: 19px 38px;
  background: #000;
  color: #F8F200;
  font-family: "Roboto";
  font-weight: 700;
}

@media (min-width: 1550px) and (max-width: 1920px) {
  .first {
    padding: 70px 16.6666666667%;
  }
  .images div {
    flex-direction: column;
  }
  .images-media__big {
    display: none;
  }
}
@media (min-width: 1300px) and (max-width: 1549px) {
  .first {
    padding: 70px 12.5%;
  }
  .images {
    flex-direction: column;
  }
  .images div {
    flex-direction: row;
    padding-bottom: 32px;
  }
  .console {
    width: 600px;
  }
  .images-media__big {
    display: none;
  }
}
@media (min-width: 1023px) and (max-width: 1300px) {
  .first {
    padding: 70px 36px;
  }
  .first p {
    width: 952px;
  }
  .images {
    flex-direction: column;
    margin: 0;
  }
  .pad {
    padding-right: 32px;
  }
  .images div {
    flex-direction: row;
    padding-bottom: 32px;
  }
  .console {
    display: none;
  }
  .images-media__big {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .first {
    padding: 70px 36px;
  }
  .images {
    flex-direction: column;
  }
  .pad {
    padding-bottom: 32px;
  }
  .images-big {
    display: none;
  }
  .images div {
    flex-direction: column;
    padding-bottom: 32px;
  }
  .console {
    display: none;
  }
  .play {
    flex-direction: column;
  }
  input {
    width: 70%;
  }
}
.first h1 {
  font-size: 62px;
  font-family: "Tektur", cursive;
  padding-bottom: 25px;
}

.first p {
  font-family: "Roboto";
  font-size: 18px;
  padding-bottom: 70px;
}

.first p span {
  color: #52BEDC;
  font-weight: 700;
}

.images {
  display: flex;
}

.images div {
  display: flex;
  justify-content: space-between;
  margin-right: 32px;
}

.transition {
  background: no-repeat url("img/transition.png");
  background-color: #000;
  height: 70px;
}

.second {
  padding: 70px 16.6666666667%;
  background-color: #000;
  color: #fff;
}

.play {
  display: flex;
  align-items: center;
  padding-bottom: 25px;
}

.play h1 {
  font-size: 62px;
  font-family: "Tektur", cursive;
}

.second div span {
  background: url("img/icons/star.svg");
}

.second p {
  font-family: Roboto;
  font-size: 18px;
}

.second p span {
  color: #52BEDC;
}

.form_image {
  display: flex;
  align-items: flex-start;
  padding-top: 100px;
}

.user_info {
  color: #fff;
  background-color: #000;
  border-color: #000;
  border-right: #000;
  font-size: 18px;
  margin-bottom: 35px;
}

.file {
  border: 1px dashed #fff;
}

.button {
  width: 192px;
  height: 59px;
  background-color: #F8F200;
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  margin-top: 35px;
  margin-bottom: 15px;
}

.radio_button {
  display: flex;
}

.m-console {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=index.css.map */
